{% extends "emails/base.html" %}

{% block title %}Action Required: Your Profile Verification Needs Attention{% endblock %}

{% block content %}
<div class="wave">⚠️🚧</div>
        <h2>Hello {{ user_first_name }}, Your Profile Verification Needs Attention.</h2>

        <p>
            We encountered some issues while verifying your <b>ChemistTasker</b> profile ({{ model_type|title }}).
            Don't worry, this is usually easy to fix!
        </p>

        <p>
            Here’s what needs your attention:
        </p>
        <ul>
            {% for reason in verification_reasons %}
                <li>{{ reason }}</li>
            {% endfor %}
            {% if not verification_reasons %}
                <li>Some required verification steps are pending or failed. Please check your profile for details.</li>
            {% endif %}
        </ul>

        <p>
            Please log in to your dashboard to review the details and make the necessary updates.
        </p>
        <a class="btn" href="{{ frontend_profile_link }}">Review Your Profile</a>
        <p>
            If you need any help or have questions, please don't hesitate to reach out to our support team.
            We're here to assist you!
        </p>
        <p class="emoji">— The ChemistTasker Team 💚</p>
{% endblock %}