{% extends "emails/base.html" %}

{% block title %}Your Profile is Verified! 🎉{% endblock %}

{% block content %}
<div class="wave">✅✨</div>
        <h2>Fantastic News, {{ user_first_name }}! Your Profile is Verified! 🎉</h2>

        <p>
            We're thrilled to let you know that your <b>ChemistTasker</b> profile has been fully verified!
            You're all set!
        </p>
        <p>
            You can now fully explore opportunities, manage your settings, and engage with the ChemistTasker community.
        </p>
        <a class="btn" href="{{ frontend_profile_link }}">Go to Your Dashboard</a>
        <p>
            If you have any questions or need assistance, our friendly team is always here to help.
            We're excited to have you fully onboard!
        </p>
        <p class="emoji">— The ChemistTasker Team 💚</p>
{% endblock %}