{% extends "emails/base.html" %}

{% block title %}Your Profile Was Revealed!{% endblock %}

{% block content %}
<div class="wave">👀🔓</div>
        <h2>Your profile was revealed!</h2>

        <p>
            Hi {{ user_first_name }},
        </p>
        <p>
            The shift poster has just viewed your profile for a shift at <b>{{ pharmacy_name }}</b> (<b>{{ role_needed }}</b>).
        </p>
        <a class="btn" href="{{ shift_link }}">See Shift Details</a>
        <p>
            If the fit looks right, you might hear from them soon!<br>
            We’ll keep you updated on any next steps.
        </p>
        <p>
            Need help or have questions? Just reply to this email.<br>
            Wishing you the best! 🌱
        </p>
        <p class="emoji">— The ChemistTasker Team 💚</p>
{% endblock %}