{% extends "emails/base.html" %}

{% block title %}You’ve Been Accepted!{% endblock %}

{% block content %}
<div class="wave">🎉📝</div>
        <h2>Congratulations—you’re in!</h2>

        <p>
            Hi {{ user_first_name }},
        </p>
        <p>
            Great news! You’ve been <b>accepted</b> for a shift at <b>{{ pharmacy_name }}</b> (<b>{{ role_needed }}</b>).
        </p>
        <a class="btn" href="{{ shift_link }}">View Shift Details</a>
        <p>
            Please review the shift details and confirm your attendance in your ChemistTasker portal.<br>
            If you have any questions, we’re always here for you.
        </p>
        <p>
            Wishing you an amazing shift ahead! 🚀
        </p>
        <p class="emoji">— The ChemistTasker Team 💚</p>
{% endblock %}